:root{
  --mainBlue: #2a2a72;
  --lightBlue:#009ffd;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#ffa400;
  --mainPurple: #550a8a;
  --mainGold: #D4AF37;	
  --lightGold: #FFD700;	
  --mainGrey: rgba(109, 109, 109);
  --mainLightGrey: rgba(172,172,172);

}
/* font-family: 'Dancing Script', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Mono', monospace; */
body{
  font-family: 'Oswald', sans-serif!important;
  background: var(--mainWhite)!important;
  color: var(--mainDark)!important;
}
.navbar{
  font-family: 'Dancing Script', cursive!important;
}
.company {
  font-family: 'Dancing Script', cursive!important;
}
.contactMe {
  font-family: 'Dancing Script', cursive!important;
}
.text-title{
  font-family: 'Dancing Script', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.compFoot{
  color:var(--mainGold)
}
.btn-black{
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem!important;
  color:var(--mainDark);
  border-radius: 0!important;
  border:0.1rem solid var(--mainDark)!important;
}
.btn-black:hover{
  background: var(--mainDark)!important;
  color: var(--mainWhite)!important;
}
.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainGold);
}